* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  color: black;
  font-family: 'Open Sans';
  font-weight: lighter;
  display: grid;
  grid-template-columns: 1fr;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: lighter;
  margin-top: 80px;
  text-decoration: underline;
}
nav {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}
.btn{
  align-self: center;
  margin: 0 10px 0 10px;
}
.form-div {
  width: 300px;
  margin: auto;
}
.Btn {
  background-color: rgb(230, 228, 228);
  font-size: 100%;
  border: none;
  padding: 10px;
  width: 200px;
  box-sizing: border-box;
  font-weight: 200;
  text-decoration: none;
  color: black;
}

.Btn:hover {
  border: 1px solid grey;
}

.homepage {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1000px) {
  
  .Btn {
    font-size: 1.2em;
    width: 180px;
  }
  .App {
    letter-spacing: normal;
  }
}
